name: Rust build and test

on:
  push:
  pull_request:
    
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - nightly
          - stable

    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Set up Rust
      uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      with:
        toolchain: ${{ matrix.toolchain }}
        components: clippy, rustfmt, cargo
    - run: |
        sudo apt-get update -yq
        sudo apt -y install \
          build-essential \
          curl \
          wget \
          libssl-dev \
          libgtk-3-dev \
          libayatana-appindicator3-dev \
          librsvg2-dev \
          libyara-dev \
          libyara10 \
          make \
          lsb-release \
          software-properties-common \
          libseccomp-dev \
          pkg-config \
          git \
          bash \
          libudev-dev \
          cmake \
          libsoup2.4-dev \
          libjavascriptcoregtk-4.1-dev \
          libwebkit2gtk-4.1-dev
    - run: sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
    - name: Build
      run: cargo build --verbose
    - name: Run audit
      run: |
        cargo install cargo-audit
        cargo audit
